@{
    ViewBag.Title = "Home";
}
<p><h1 class="title"><a href="~/Home/SavingsTool">This Is What We Do!</a></h1></p><br /><br /><br />
<p>
    <img src="~/Content/HomePagePic.png" alt="" style="width:330px;height:190px;margin-right:30px;float:left">
    <strong>Making Change</strong> comes from humble beginnings. What little money was availible to my family always went towards necessities and if anything was left it had to go towards the rainy day fund to keep the car running or make sure everyone was in good health. My father always said a penny saved is a penny earned, that and the fact that he is a United States Marine Veteran instilled in me a good work ethic so that I could value the time and effort I put into any project and not waste the reward. With that in mind Making Change is born. <a href="~/Home/MyPage"><strong>Start Making Change!</strong></a>
</p>

