@{
    ViewBag.Title = "MyPage";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/barchar5.js"></script>
<h1>Annual Budget</h1>
<iframe width="982" height="459" style="margin: 7px;" src="https://docs.google.com/spreadsheets/d/1HhNpUilDL8UWXiopvO4ea58WRwrrWfbTOpC9_2d2JnY/edit?usp=sharing"></iframe>
<br>
<br>
<br>
<br>
<h1>Missouri vs. The Nation</h1>
<div id="chart_div" style="width: 986px; height: 459px; margin: 7px;"></div>
<br>
<br>
<br>
<br>
<h1>Savings Tool & Calender</h1>

<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

<div style="background-color: #7f7d71; width: 190px; border: 25px solid #1E3227; padding: 18px; margin: 25px; float: left;">
    <center>
        <div id="savings_tool">
            <a href="~/Home/Savings_Tool">
                <button><h2>Savings Tool</h2></button>
            </a>
        </div>
    </center>
</div>

<div id="add_event" title="Add to Calendar" class="addeventatc" style="background-color: #7f7d71; width: 190px; height: 165px; border: 25px solid #1E3227; padding: 25px; margin: 25px; float: right;">
    <center>
        <h2>Add Event</h2>
    </center>
</div>
