@model MakingChangeApp.Models.LoginViewModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()

    <label for="email">Username</label>
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-styling" } })
    <label for="password">Password</label>
    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-styling" } })
    <input type="checkbox" name="checkbox" id="checkbox" />
    <label for="checkbox"><span class="ui"></span>Keep me signed in</label>
    <div class="btn-animate">
        <a onclick="submitLogin()" class="btn-signin">Sign in</a>
    </div>
}
<script type="text/javascript">
    function submitLogin() {
        $('.form-signin').submit()
    }
</script>
